<%# Login page styled with landing_page SCSS design system %>
<div class="form-page">
  <img src="https://res.cloudinary.com/basejump/image/upload/v1580630150/basecamp-logo.svg" alt="BaseJump" style="height: 75px;">

  <div class="formHeader">
    <h3>Welcome back.</h3>
  </div>

  <%= form_tag session_path, method: :post do %>
    <div class="signup">Log in</div>

    <div>
      <%= label_tag :username_or_email, "Username or Email" %>
      <%= text_field_tag "session[username_or_email]", nil, placeholder: "my@email.com" %>
    </div>

    <div>
      <%= label_tag :password, "Password" %>
      <%= password_field_tag "session[password]", nil, placeholder: "••••••••" %>
    </div>

    <% if flash[:alert] %>
      <div class="form-errors"><%= flash[:alert] %></div>
    <% end %>

    <div>
      <%= submit_tag "Log in", class: "btn btn-submit", style: "width: 100%;" %>
    </div>
  <% end %>

  <p style="margin-top: 10px;">
    New to BaseJump? <%= link_to "Sign up", new_user_path %>
  </p>
</div>
