<div class="main-app">
  <nav class="app-nav">
    <div style="display: flex; align-items: center;">
      <a href="/home" class="logo">
        <img src="https://res.cloudinary.com/basejump/image/upload/v1580630789/basecamp-logo-mini.png" alt="Home" />
      </a>
      <a href="<%= project_path(@todo_list.project) %>" class="logo" style="margin-left: 5px;">
        <span>Home</span>
      </a>
    </div>
    <div>
      <span style="font-size: 13px; color: #555;"><%= current_user.name %></span>
      <%= button_to "Logout", session_path, method: :delete, class: "btn btn-normal", style: "padding: 5px 10px; font-size: 12px;" %>
    </div>
  </nav>

  <div class="tool-page">
    <header>
      <span><%= link_to "← #{@todo_list.project.name}", project_path(@todo_list.project) %></span>
    </header>

    <div class="main-tool">
      <h1><%= @todo_list.title %></h1>
      <% if @todo_list.description.present? %>
        <h2><%= @todo_list.description %></h2>
      <% end %>

      <% if @loose_todos.any? %>
        <div class="todolists">
          <h1>Unsorted Todos</h1>
          <div id="loose-todos">
            <% @loose_todos.each do |todo| %>
              <%= render partial: "todos/todo", locals: { todo: todo } %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="todolists">
        <h1>Todos <span>(<%= @todos.select(&:done).count %>/<%= @todos.count %> completed)</span></h1>
        <div id="todos">
          <%= render partial: "todos/todo", collection: @todos, as: :todo %>
        </div>
      </div>

      <div class="tool-form">
        <%= form_with model: [@todo_list, @todo_list.todos.new], local: true do |f| %>
          <div class="input-fields">
            <%= f.hidden_field :todo_list_id, value: @todo_list.id %>
            <%= f.text_field :title, placeholder: "Add a new todo..." %>
          </div>
          <div class="submit-buttons">
            <%= f.submit "Add", class: "btn btn-submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
