<%# Signup page styled with landing_page SCSS design system %>
<div class="form-page">
  <div class="formHeader">
    <h3>Sign up for BaseJump</h3>
    <p>Create your account to get started.</p>
  </div>

  <%= form_for @user, html: { class: "sign-up-form" } do |f| %>
    <div class="signup">Sign up</div>

    <div>
      <%= f.label :name, "Full Name" %>
      <%= f.text_field :name, placeholder: "Your name", required: true %>
    </div>

    <div>
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Choose a username", required: true %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "my@email.com", required: true %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "••••••••", required: true %>
    </div>

    <% if @user.errors.any? %>
      <div class="form-errors">
        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= f.submit "Sign up", class: "btn btn-submit", style: "width: 100%;" %>
    </div>
  <% end %>

  <p style="margin-top: 10px;">
    Already have an account? <%= link_to "Log in", new_session_path %>
  </p>
</div>
