<div class="form-page">
  <a href="/">
    <img src="https://res.cloudinary.com/basejump/image/upload/v1580630789/basecamp-logo-mini.png" alt="Basecamp" />
  </a>

  <%= form_for @user, html: { class: "session-form sign-up-form" } do |f| %>
    <div class="formHeader">
      <span class="signup">Sign up for Basejump</span>
      <p class="barred-span">Type your email address</p>
    </div>

    <div class="signup-fields">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "John Doe" %>
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "john@doe.com" %>
    </div>

    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "johndoe" %>

    <div class="field">
      <label for="user_company_name">Company Name</label>
      <input type="text" name="user[company_name]" id="user_company_name" placeholder="Acme Inc.">
    </div>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.submit "Sign Up", class: "btn btn-submit" %>
  <% end %>

  <span>
    Already have an account? <a href="/session/new">Sign in here!</a>
  </span>
</div>
