<div id="<%= dom_id(todo) %>" class="todo">
  <%= form_with model: todo, url: toggle_todo_path(todo), method: :patch, data: { turbo_stream: true } do |f| %>
    <%= f.check_box :done, { checked: todo.done, onchange: "this.form.requestSubmit()" }, "true", "false" %>
  <% end %>

  <div style="margin-left: 8px;">
    <span style="<%= todo.done ? 'text-decoration: line-through; color: #999;' : '' %> font-size: 17px;">
      <%= todo.title %>
    </span>
    <% if todo.description.present? %>
      <p style="font-size: 12px; color: #666;"><%= todo.description %></p>
    <% end %>

    <%# Subtasks %>
    <% if todo.subtasks.any? %>
      <div style="margin-top: 8px; margin-left: 12px;">
        <% todo.subtasks.each do |subtask| %>
          <div class="todo" style="font-size: 14px;">
            <%= form_with model: [todo, subtask], method: :patch, style: "display: inline;" do |f| %>
              <%= f.check_box :done, { checked: subtask.done, onchange: "this.form.requestSubmit()" }, "true", "false" %>
            <% end %>
            <span style="margin-left: 4px; <%= subtask.done ? 'text-decoration: line-through; color: #999;' : '' %>"><%= subtask.title %></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <%# Add subtask form %>
    <div style="margin-top: 8px;">
      <%= form_with model: [todo, todo.subtasks.new], local: true do |f| %>
        <%= f.text_field :title, placeholder: "Add subtask...", style: "font-size: 12px; padding: 2px 4px; width: 200px;" %>
      <% end %>
    </div>
  </div>
</div>
